body, html {
    width: 100%;
    height: 100%;
}

.container-fluid {
    padding: 0;
}

.ndiv {
    width: 25%;
}

.jtelogo {
    width:25%;
}

.nlink {
    margin-left: 5%;
    text-decoration: none;
}

a {
    color:#f76ce2;
}

a:hover {
    color: #21FFF9;
    text-decoration:none;
}

.d-md-flex.p-5.employer {
    padding-right: 0;
}

.align-self-center.p-3 {
    text-align: center;
}

h1 {
    text-align: center;
}

hr {
    border: 1px solid #cca352;
    width: 75%;
}

#first-sec {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    /*background-color: #21FFF9;*/
    border-radius:50px;
}

.numbers {
    margin-top: 40px;
    text-align: center;
}

article {
    padding-right: 25px;
}

span {
    color: #cca352;
}

.img3 {
    min-width: 50%;
}

.img-fluid.sec-img {
    border-radius: 50px;
}

.d-block.w-100 {
    border-radius: 50px;
}

video {
    padding: 20px;
}


#footlinkspace2 {
    margin-left:15%;
}

#fb:hover {
    color:blue;
}

#linkedin:hover {
    color:blue;
}

#insta:hover {
    color:purple;
}

#fb {
    color:black;
}

#linkedin {
    color:black;
}

#insta {
    color:black;
}



.footer {
    background-image: url("images/call-us.jpg");
/*    background-position: 90% 50%;*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
    min-height: 100%;
}