body, html {
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

.container-fluid {
    padding: 0;
    margin:0;
}


/* Start of navbar CSS */

/*This is for JTE logo*/
@media (min-width: 768px) {
    .img-fluid {
    max-width: 40%;
    height: auto;
    }
}


.navbar {
    position:fixed;
    z-index:1030;
    background-color:white;
}

/* This is the part below nav, to ensure it will show */
@media (max-width: 768px) {
    #first-part {
        padding-top:20%;
    }
}

@media (min-width: 768px) {
    #first-part {
        padding-top:10%;
    }
}

/* This is the end for this styling */


.nav-link {
    color:#cca352!important;
}

a:hover.nav-link {
    color:#21FFF9!important;
}

a:active.nav-link {
  color: #ff99ff!important;
} 

.navbar-nav {
    text-align: center;
}

/* End of navbar CSS */


/* Start of Employer & Jobseeker CSS*/

.btn-info {
    color:black;
    background-color:rgb(33, 255, 249, 0.5);
    border-color:#21FFF9;
    border-radius:20px;
}

.btn-info:hover {
    background-color:rgb(255, 153, 255, 0.5)!important;
    border-color:rgb(255, 153, 255, 05);
}

.align-self-center.p-3 {
    text-align: center;
}

.img-fluid-employer {
    width:100%;
    height:100%;
}

.img-fluid-employee {
    width:100%;
    height:100%;
}

/* End of Employer & Jobseeker CSS*/


/* Start of Introduction of JTE Recruit, information and brief details */

#first-sec {
    background-color:rgb(33, 255, 249, 0.5);
    border-radius:20%;
    margin-top:10%;
}

.col h2, h6 {
    text-align: center;
}

/* End of Introduction of JTE Recruit, information and brief details */

h1 {
    text-align: center;
}

hr {
    border: 1px solid #cca352;
    width: 75%;
}

.numbers {
    margin-top: 40px;
    text-align: center;
}

#services-sec {
    margin-right:1%;
    margin: 2%;
}

span {
    color: #cca352;
}

@media (min-width: 768px) {
    
    #accordion-id {
    margin-right: 1%;
    width:50%;
}

    #services-text {
    margin-left:1%;
    width:50%;
}
    
}


.ind-icon {
    width:50px;
    height:50px;
    margin-left:3%;
    margin-right:3%;
    margin-top:2%;
    margin-bottom:2%;
}

.img3 {
    min-width: 50%;
}

.img-fluid.sec-img {
    border-radius: 50px;
}

.d-block.w-100 {
    border-radius: 50px;
}

video {
    padding: 20px;
}


#footlinkspace2 {
    margin-left:15%;
}

a {
    color:black;
}

a:hover {
    color: #21FFF9;
    text-decoration:none;
}

#fb:hover {
    color:blue;
}

#linkedin:hover {
    color:blue;
}

#insta:hover {
    color:purple;
}

#fb {
    color:black;
}

#linkedin {
    color:black;
}

#insta {
    color:black;
}



.footer {
    background-image: url("images/call-us.jpg");
/*    background-position: 90% 50%;*/
/*    background-repeat: no-repeat;*/
/*    background-size: contain;*/
    min-height: 100%;
}